In [0]:
# Initialize SparkSession
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, TimestampType

# Create SparkSession
spark = SparkSession.builder \
    .appName("Movie Ratings Analysis") \
    .getOrCreate()

# Define schema for each data file
data_schema = StructType([
    StructField('user_id', IntegerType(), True),
    StructField('movie_id', IntegerType(), True),
    StructField('rating', IntegerType(), True),
    StructField('timestamp', TimestampType(), True)
])

item_schema = StructType([
    StructField('movie_id', IntegerType(), True),
    StructField('movie_title', StringType(), True),
    StructField('release_date', StringType(), True),
    StructField('video_release_date', StringType(), True),
    StructField('IMDb_URL', StringType(), True),
    StructField('unknown', IntegerType(), True),
    # Include other fields
])

user_schema = StructType([
    StructField('user_id', IntegerType(), True),
    StructField('age', IntegerType(), True),
    StructField('gender', StringType(), True),
    StructField('occupation', StringType(), True),
    StructField('zip_code', StringType(), True)
])

# Define absolute file paths
data_path = "/FileStore/tables/u.data"
item_path = "/FileStore/tables/u.item"
users_path = "/FileStore/tables/u.user"

# Read data with defined schema
data = spark.read.csv(data_path, sep='\t', header=False, schema=data_schema)
item = spark.read.csv(item_path, sep='|', header=False, schema=item_schema)
users = spark.read.csv(users_path, sep='|', header=False, schema=user_schema)

# Register DataFrames as temporary views
data.createOrReplaceTempView("ratings")
item.createOrReplaceTempView("movies")
users.createOrReplaceTempView("users")



# Perform Exploratory Data Analysis with SQL
# Example 1: Listing all movies along with the number of ratings
spark.sql("""
    SELECT m.movie_title, COUNT(r.rating) AS rating_count
    FROM movies m
    LEFT JOIN ratings r ON m.movie_id = r.movie_id
    GROUP BY m.movie_title
    ORDER BY rating_count DESC
""").show()

# Example 2: Displaying users and the count of ratings they've given for movies
spark.sql("""
    SELECT u.user_id, u.gender, COUNT(r.rating) AS rating_count
    FROM users u
    LEFT JOIN ratings r ON u.user_id = r.user_id
    GROUP BY u.user_id, u.gender
    ORDER BY rating_count DESC
""").show()

# Continue with the remaining queries for EDA and user ratings analysis
...

+--------------------+------------+
|         movie_title|rating_count|
+--------------------+------------+
|    Star Wars (1977)|         583|
|      Contact (1997)|         509|
|        Fargo (1996)|         508|
|Return of the Jed...|         507|
|    Liar Liar (1997)|         485|
|English Patient, ...|         481|
|       Scream (1996)|         478|
|    Toy Story (1995)|         452|
|Air Force One (1997)|         431|
|Independence Day ...|         429|
|Raiders of the Lo...|         420|
|Godfather, The (1...|         413|
| Pulp Fiction (1994)|         394|
|Twelve Monkeys (1...|         392|
|Silence of the La...|         390|
|Jerry Maguire (1996)|         384|
|  Chasing Amy (1997)|         379|
|    Rock, The (1996)|         378|
|Empire Strikes Ba...|         367|
|Star Trek: First ...|         365|
+--------------------+------------+
only showing top 20 rows

+-------+------+------------+
|user_id|gender|rating_count|
+-------+------+------------+
|    405|     F|         737|
|    655|     F|         685|
|     13|     M|         636|
|    450|     F|         540|
|    276|     M|         518|
|    416|     F|         493|
|    537|     M|         490|
|    303|     M|         484|
|    234|     M|         480|
|    393|     M|         448|
|    181|     M|         435|
|    279|     M|         434|
|    429|     M|         414|
|    846|     M|         405|
|      7|     M|         403|
|     94|     M|         400|
|    682|     M|         399|
|    308|     M|         397|
|    293|     M|         388|
|     92|     M|         388|
+-------+------+------------+
only showing top 20 rows

Out[5]: Ellipsis

In [0]:
# Milestone 2: Exploratory Data Analysis with SQL

# Example SQL queries for exploratory data analysis

# 1. Listing all movies along with the number of ratings
spark.sql("""
    SELECT m.movie_title, COUNT(r.rating) AS rating_count
    FROM movies m
    LEFT JOIN ratings r ON m.movie_id = r.movie_id
    GROUP BY m.movie_title
    ORDER BY rating_count DESC
""").show()

# 2. Displaying users and the count of ratings they've given for movies
spark.sql("""
    SELECT u.user_id, u.gender, COUNT(r.rating) AS rating_count
    FROM users u
    LEFT JOIN ratings r ON u.user_id = r.user_id
    GROUP BY u.user_id, u.gender
    ORDER BY rating_count DESC
""").show()

# 3. Identifying Movie IDs with at least one user rating
spark.sql("""
    SELECT DISTINCT movie_id
    FROM ratings
""").show()

# 4. Listing users who have rated at least one movie
spark.sql("""
    SELECT DISTINCT user_id
    FROM ratings
""").show()

# 5. Providing lists of users and movies with their maximum, minimum, and average ratings
spark.sql("""
    SELECT 
        u.user_id,
        MAX(r.rating) AS max_rating,
        MIN(r.rating) AS min_rating,
        AVG(r.rating) AS avg_rating
    FROM users u
    LEFT JOIN ratings r ON u.user_id = r.user_id
    GROUP BY u.user_id
""").show()

spark.sql("""
    SELECT 
        m.movie_title,
        MAX(r.rating) AS max_rating,
        MIN(r.rating) AS min_rating,
        AVG(r.rating) AS avg_rating
    FROM movies m
    LEFT JOIN ratings r ON m.movie_id = r.movie_id
    GROUP BY m.movie_title
""").show()

# Milestone 3: User Ratings Analysis

# Example analysis on user ratings

# 1. How many of the users are artists?
num_artists = users.filter(users.occupation == "artist").count()
print("Number of users who are artists:", num_artists)

# 2. How many of the users are artists at least 25 years old?
num_artists_25plus = users.filter((users.occupation == "artist") & (users.age >= 25)).count()
print("Number of artists aged 25 or older:", num_artists_25plus)

# 1. Group by Movies by their title
ratings_total = data.groupBy("movie_id").count()
ratings_total.show()

# 2. Average movie rating
average_rating = data.groupBy("movie_id").avg("rating")
average_rating.show()

# 3. Average rating given for movie id #1 and #2
average_rating.filter("movie_id = 1").show()
average_rating.filter("movie_id = 2").show()

# 4. Gender and zip code of the user who rated the most movies
most_rated_user = data.groupBy("user_id").count().orderBy("count", ascending=False).first()[0]
user_info = users.filter(users["user_id"] == most_rated_user).select("gender", "zip_code").collect()

# Printing the user's gender and zip code
print("Gender and Zip Code of the user who rated the most movies:")
for row in user_info:
    print("Gender:", row["gender"], ", Zip Code:", row["zip_code"])

+--------------------+------------+
|         movie_title|rating_count|
+--------------------+------------+
|    Star Wars (1977)|         583|
|      Contact (1997)|         509|
|        Fargo (1996)|         508|
|Return of the Jed...|         507|
|    Liar Liar (1997)|         485|
|English Patient, ...|         481|
|       Scream (1996)|         478|
|    Toy Story (1995)|         452|
|Air Force One (1997)|         431|
|Independence Day ...|         429|
|Raiders of the Lo...|         420|
|Godfather, The (1...|         413|
| Pulp Fiction (1994)|         394|
|Twelve Monkeys (1...|         392|
|Silence of the La...|         390|
|Jerry Maguire (1996)|         384|
|  Chasing Amy (1997)|         379|
|    Rock, The (1996)|         378|
|Empire Strikes Ba...|         367|
|Star Trek: First ...|         365|
+--------------------+------------+
only showing top 20 rows

+-------+------+------------+
|user_id|gender|rating_count|
+-------+------+------------+
|    405|     F|         737|
|    655|     F|         685|
|     13|     M|         636|
|    450|     F|         540|
|    276|     M|         518|
|    416|     F|         493|
|    537|     M|         490|
|    303|     M|         484|
|    234|     M|         480|
|    393|     M|         448|
|    181|     M|         435|
|    279|     M|         434|
|    429|     M|         414|
|    846|     M|         405|
|      7|     M|         403|
|     94|     M|         400|
|    682|     M|         399|
|    308|     M|         397|
|    293|     M|         388|
|     92|     M|         388|
+-------+------+------------+
only showing top 20 rows

+--------+
|movie_id|
+--------+
|     392|
|     451|
|     222|
|     346|
|     274|
|     474|
|      86|
|      40|
|     377|
|     257|
|     387|
|      51|
|     465|
|      29|
|    1042|
|    1014|
|     265|
|    1184|
|     242|
|     302|
+--------+
only showing top 20 rows

+-------+
|user_id|
+-------+
|    115|
|    210|
|    253|
|     22|
|    122|
|    224|
|    305|
|    291|
|      6|
|    286|
|    196|
|    244|
|    194|
|    166|
|    234|
|     62|
|    200|
|    303|
|    298|
|    119|
+-------+
only showing top 20 rows

+-------+----------+----------+------------------+
|user_id|max_rating|min_rating|        avg_rating|
+-------+----------+----------+------------------+
|    148|         5|         1|               4.0|
|    463|         5|         1|2.8646616541353382|
|    471|         5|         1|3.3870967741935485|
|    496|         5|         1|3.0310077519379846|
|    833|         5|         1| 3.056179775280899|
|    243|         5|         1|3.6419753086419755|
|    392|         5|         1| 4.045045045045045|
|    540|         5|         2|3.7142857142857144|
|    623|         5|         1|3.7333333333333334|
|    737|         5|         1|3.9696969696969697|
|    858|         5|         1|3.4285714285714284|
|    897|         5|         1| 3.962162162162162|
|     31|         5|         2|3.9166666666666665|
|    516|         5|         3| 4.095238095238095|
|     85|         5|         1|3.5381944444444446|
|    137|         5|         1| 4.319148936170213|
|    251|         5|         2| 3.792207792207792|
|    451|         5|         1|2.7346938775510203|
|    580|         5|         1|3.5531914893617023|
|    808|         5|         1| 4.130434782608695|
+-------+----------+----------+------------------+
only showing top 20 rows

+--------------------+----------+----------+------------------+
|         movie_title|max_rating|min_rating|        avg_rating|
+--------------------+----------+----------+------------------+
|Snow White and th...|         5|         1|3.7093023255813953|
|       Psycho (1960)|         5|         1| 4.100418410041841|
|   Annie Hall (1977)|         5|         1| 3.911111111111111|
|Heavenly Creature...|         5|         1|3.6714285714285713|
|Night of the Livi...|         5|         1|          3.421875|
|    Fair Game (1995)|         4|         1|2.1818181818181817|
| If Lucy Fell (1996)|         5|         1|2.7586206896551726|
| Three Wishes (1995)|         5|         1|3.2222222222222223|
|When We Were King...|         5|         1| 4.045454545454546|
|         Cosi (1996)|         5|         3|               4.0|
|Paris, France (1993)|         4|         1|2.3333333333333335|
|Spanking the Monk...|         5|         1| 3.074074074074074|
|        Mondo (1996)|         5|         1|               3.0|
|I'll Do Anything ...|         4|         1|               2.6|
| Evil Dead II (1987)|         5|         1|3.5168539325842696|
|Last Action Hero ...|         5|         1|2.7457627118644066|
|    Threesome (1994)|         5|         1| 2.838709677419355|
|Reality Bites (1994)|         5|         1| 2.961038961038961|
|   Blue Chips (1994)|         4|         2|2.6666666666666665|
|A Chef in Love (1...|         5|         3|             4.125|
+--------------------+----------+----------+------------------+
only showing top 20 rows

Number of users who are artists: 28
Number of artists aged 25 or older: 22
+--------+-----+
|movie_id|count|
+--------+-----+
|     496|  231|
|     471|  221|
|     463|   71|
|     148|  128|
|    1342|    2|
|     833|   49|
|    1088|   13|
|    1591|    6|
|    1238|    8|
|    1580|    1|
|    1645|    1|
|     392|   68|
|     623|   39|
|     540|   43|
|     858|    3|
|     737|   59|
|     243|  132|
|    1025|   44|
|    1084|   21|
|    1127|   11|
+--------+-----+
only showing top 20 rows

+--------+------------------+
|movie_id|       avg(rating)|
+--------+------------------+
|     496| 4.121212121212121|
|     471|3.6108597285067874|
|     463| 3.859154929577465|
|     148|          3.203125|
|    1342|               2.5|
|     833| 3.204081632653061|
|    1088| 2.230769230769231|
|    1591|3.1666666666666665|
|    1238|             3.125|
|    1580|               1.0|
|    1645|               4.0|
|     392|3.5441176470588234|
|     623| 2.923076923076923|
|     540| 2.511627906976744|
|     858|               1.0|
|     737| 2.983050847457627|
|     243|2.4393939393939394|
|    1025|2.9318181818181817|
|    1084| 3.857142857142857|
|    1127| 2.909090909090909|
+--------+------------------+
only showing top 20 rows

+--------+------------------+
|movie_id|       avg(rating)|
+--------+------------------+
|       1|3.8783185840707963|
+--------+------------------+

+--------+------------------+
|movie_id|       avg(rating)|
+--------+------------------+
|       2|3.2061068702290076|
+--------+------------------+

Gender and Zip Code of the user who rated the most movies:
Gender: F , Zip Code: 10019